* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    height: 300vh;
}

/* header */

/* navbar z klasa active skrypt js */

header {
    position: fixed;
    z-index: 3;
    background-color: #ccc;
    height: 90px;
    width: 100%;
}

div.logo {
    position: absolute;
    left: 25px;
    top: 20px;
}

div.logo img {
    width: 105%;
}

div.smallburger {
    position: absolute;
    z-index: 4;
    right: 20px;
    top: 30px;
}

div.smallburger i {
    color: black;
    font-size: 30px;
}

nav.navbar {
    position: absolute;
    width: 100%;
    top: 90px;
    left: -100%;
    transition: .4s linear;
}

.navbar ul {
    list-style: none;
    background-color: #ccc;
}

.navbar ul li {
    height: 35px;
    border-top: 1px solid black;
}

.navbar ul li a {
    display: block;
    color: black;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav.navbar.active {
    left: 0;
}

/* secja powitalna */

.welcome {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: -1; */
    /* background-color: rgb(131, 157, 165); */
    /* background-image: url("/img/skład\ xxs.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7; */
}

.welcome:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(131, 157, 165);
    background-image: url("/img/sklad-xxs.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.welcome div.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    transition: .4s linear;
}

.welcome h1 {
    margin: 15px auto;
    font-size: 2.5rem;
    text-align: center;
}

.welcome h2 {
    margin: 10px 20px;
    font-size: 1.8rem;
    text-align: center;
}

.welcome div.wrapper.active {
    opacity: 0;
}

/* portrait 360px*/

@media (min-width:360px) {
    .navbar ul li a {
        font-size: 1.6rem;
    }
    .welcome h1 {
        margin: 20px auto;
        font-size: 3rem;
    }
    .welcome h2 {
        margin: 15px 15px;
        font-size: 2rem;
    }
}

/* portrait 768px*/

@media (min-width:768px) {
    div.logo {
        left: 35px;
        top: 15px;
    }
    div.logo img {
        width: 125%;
    }
    .navbar ul li {
        height: 48px;
    }
    .navbar ul li a {
        line-height: 48px;
        font-size: 1.9rem;
    }
    .welcome h1 {
        margin: 35px auto;
        font-size: 5rem;
    }
    .welcome h2 {
        margin: 20px 15px;
        font-size: 4rem;
    }
    .welcome div.wrapper.active {
        top: 65%;
        opacity: 1;
    }
}

/* desktop */

@media (min-width:1024px) {
    div.smallburger {
        display: none;
    }
    nav.navbar {
        /* position: absolute; */
        width: 70%;
        top: 50%;
        transform: translateY(-50%);
        left: 30%;
        right: 0%;
        transition: none;
    }
    .navbar ul {
        display: flex;
        justify-content: space-between;
    }
    .navbar ul li {
        flex-basis: 18%;
        border-top: 0;
    }
    .navbar ul li a {
        font-size: 1.8rem;
        transition: .4s linear;
    }
    .navbar ul li a:hover {
        text-shadow: 3px 3px 8px black;
    }
    .welcome:before {
        background-image: url('/img/sklad\ large.jpg');
    }
}

@media (min-width:1920px) {
    div.logo img {
        width: 135%;
    }
    .navbar ul li a {
        font-size: 2rem;
    }
    .welcome:before {
        background-image: url('/img/sklad\ FHD.jpg');
    }
    .welcome h1 {
        margin-bottom: 80px;
        font-size: 5.4rem;
    }
    .welcome h2 {
        margin-bottom: 40px;
    }
}

@media (min-width:533px) and (orientation: landscape) {
    .welcome div.wrapper {
        top: 60%;
    }
}

@media (min-width:640px) and (orientation: landscape) {
    .welcome div.wrapper {
        top: 60%;
    }
}

@media (min-width:768px) and (orientation: landscape) {
    .welcome div.wrapper {
        top: 50%;
    }
}

/*sekcja z produktami section -> main 4 * div */

.products {
    /* dla mobilek będzie 2 razy większy */
    /* height: calc(100vh - 90px); */
    height: calc(210vh - 90px);
    width: 100%;
    overflow: hidden;
    background-color: lightblue;
}

.products h2 {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size: 1.8rem;
    background-color: #fff;
}

.products div.flex {
    display: flex;
    flex-direction: column;
    /* flex-wrap: 0; */
    flex-grow: 0;
    flex-shrink: 0;
}

.products div.flex>div{
    /* 25% wysokość */
    flex-basis: 25%;
    height: 25%;

}

.products .image {
    width: 100%;
    background-color: red;
}

.transport {
    height: calc(100vh - 90px);
    background-color: red;
}