* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    height: 300vh;
}

/* header */

/* navbar z klasa active skrypt js */

header {
    position: fixed;
    background-color: #ccc;
    height: 90px;
    width: 100%;
}

div.logo {
    position: absolute;
    left: 25px;
    top: 20px;
}

div.logo img {
    width: 105%;
}

div.smallburger {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 30px;
}

div.smallburger i {
    color: black;
    font-size: 30px;
}

nav.navbar {
    position: absolute;
    /* z-index: -1; */
    width: 100%;
    top: 90px;
    left: -100%;
    transition: .4s linear;
}

.navbar ul {
    list-style: none;
    background-color: #ccc;
}

.navbar ul li {
    height: 35px;
    border-top: 1px solid black;
}

.navbar ul li a {
    display: block;
    color: black;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav.navbar.active{
    left: 0;
}

/* secja powitalna */

.welcome{
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(131, 157, 165);
    /* background-image: url("/img/skład\ xxs.png"); */
    /* background-size: cover; */
}

.welcome img{
    position: relative;
    /* z-index: 5; */
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.7;
}

.welcome div.wrapper{
    position: absolute;
    top: 120px;
    left:50%;
    transform: translateX(-50%);
    width: 80%;
    transition: .4s linear;
}

.welcome h1{
    margin: 15px auto;
    font-size: 2rem;
    text-align: center;
}

.welcome h2{
    margin: 10px 20px;
    font-size: 1.5rem;
    text-align: center;
}

.welcome div.wrapper.active{
    top:300px;
}

