* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    height: 300vh;
}

/* header */

/* navbar z klasa active skrypt js */

header {
    position: fixed;
    background-color: #ccc;
    height: 90px;
    width: 100%;
}

div.logo {
    position: absolute;
    left: 25px;
    top: 20px;
}

div.logo img {
    width: 105%;
}

div.smallburger {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 30px;
}

div.smallburger i {
    color: black;
    font-size: 30px;
}

nav.navbar {
    position: absolute;
    /* z-index: -1; */
    width: 100%;
    top: 90px;
    left: -100%;
    transition: .4s linear;
}

.navbar ul {
    list-style: none;
    background-color: #ccc;
}

.navbar ul li {
    height: 35px;
    border-top: 1px solid black;
}

.navbar ul li a {
    display: block;
    color: black;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav.navbar.active {
    left: 0;
}

/* secja powitalna */

.welcome {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(131, 157, 165);
    /* background-image: url("/img/skład\ xxs.png"); */
    /* background-size: cover; */
}

.welcome img {
    position: relative;
    /* z-index: 5; */
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.4;
}

.welcome div.wrapper {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    transition: .4s linear;
}

.welcome h1 {
    margin: 15px auto;
    font-size: 2.5rem;
    text-align: center;
}

.welcome h2 {
    margin: 10px 20px;
    font-size: 1.8rem;
    text-align: center;
}

.welcome div.wrapper.active {
    top: 260px;
}

/* portrait 360px*/

@media (min-width:360px) {
    .navbar ul li a {
        font-size: 1.6rem;
    }
    .welcome div.wrapper {
        top: 200px;
    }
    .welcome h1 {
        margin: 20px auto;
        font-size: 3rem;
    }
    .welcome h2 {
        margin: 15px 15px;
        font-size: 2rem;
    }
    .welcome div.wrapper.active {
        top: 290px;
    }
}

/* portrait 411px*/

@media (min-width:411px) {
    .welcome div.wrapper.active {
        top: 300px;
    }
}

/* portrait 768px*/

@media (min-width:768px) {
    div.logo {
        left: 35px;
        top: 15px;
    }
    div.logo img {
        width: 125%;
    }
    .navbar ul li {
        height: 48px;
    }
    .navbar ul li a {
        line-height: 48px;
        font-size: 1.9rem;
    }
    .welcome div.wrapper {
        top: 220px;
    }
    .welcome h1 {
        margin: 35px auto;
        font-size: 5rem;
    }
    .welcome h2 {
        margin: 20px 15px;
        font-size: 4rem;
    }
    .welcome div.wrapper.active {
        top: 360px;
    }
}

/* desktop */

@media (min-width:1024px) {
    div.smallburger {
        display: none;
    }
    nav.navbar {
        position: absolute;
        width: 70%;
        top: 50%;
        transform: translateY(-50%);
        left: 30%;
        right: 0%;
        transition: none;
    }
    .navbar ul {
        display: flex;
        justify-content: space-between;
    }
    .navbar ul li {
        flex-basis: 18%;
        border-top: 0;
    }
    .navbar ul li a {
        font-size: 1.8rem;
        transition: .4s linear;
    }
    .navbar ul li a:hover {
        text-shadow: 3px 3px 8px black;
    }
    .welcome img {
        content: url('/img/sklad\ large.jpg');
        width: 100%;
    }
    .welcome div.wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* desktop 1920px*/

@media (min-width:1920px) {
    div.logo img {
        width: 135%;
    }
    .navbar ul li a {
        font-size: 2rem;
    }
    
    .welcome h1 {
        margin-bottom: 80px;
        font-size: 5.4rem;
    }
    .welcome h2 {
        margin-bottom: 40px;
    }
    .welcome img {
        content: url('/img/sklad\ FHD.jpg');
    }
}

/* dls mobilek landscape */
/* tylko wrapper na top 50% i tranfor trnaslate do wysrodkowania */
/* dla wrapper display none bo nie ma gdzie uciec z tym tak jak w portrait */

/* sekcja z produktami section -> main 4 * div */